@media screen and (max-width: 1024px) {

    menu {
        width: 900px;

        li {
            padding: 18px 32px 16px 32px;
        }

        .acrostia {
            line-height: 80px;
        }
    }

    //Блок-2

    .block-2 {
        .name-service {
            font-size: 25px;
            margin-bottom: 20px;
        }


        .description {
            line-height: 1.2;
        }
    }

    // Блок-3

    .block-3 {
        .green-plate:after {
            top: 65px;
        }

        .item {
            .icon {
                width: 170px;
                height: 170px;

                .color-photo {
                    width: 150px;
                    height: 150px;
                    background: url("@{images_dir}/sprite-human.png") no-repeat -3px -238px;
                }
                .stroke {
                    width: 150px;
                    height: 150px;
                    background: url("@{images_dir}/sprite-human.png") no-repeat -3px 5px;
                }
            }

            .user-name {
                font-size: 22px;
            }

            .flex-item {
                margin: 0 6px;
            }
        }
    }

    // Блок-4

    .block-4 {
        .block-portfolio {
            width: inherit;
            padding: 20px 20px;

            .flex-item {
                margin: 0px 10px;
                font-size: 22px;
            }

            .portfolio {
                margin-right: 220px;
                line-height: 45px;
            }
        }

        .our-photos {
            padding: 0 90px;
            justify-content: flex-start;
        }
    }
}