@media screen and (max-width: 568px) {

    .bx-wrapper .bx-prev:hover {
        background-position: 0px 11px;
    }

    .bx-wrapper .bx-next:hover {
        background-position: 12px 11px;
    }


    .bx-wrapper .bx-controls-direction a {
        margin-top: -29px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 15px;
        height: 15px;
        margin: 0 10px;
    }

    .bx-wrapper .bx-prev {
        left: 25px;
        background: url('/images/slide-switch1.png') no-repeat 0 11px;
        background-size: 20px;
    }

    .bx-wrapper .bx-next {
        right: 25px;
        background: url('/images/slide-switch2.png') no-repeat right 11px;
        background-size: 20px;
    }

    .acrostia {
        left: 60px;
    }

    .banner {
        width: 370px;
        height: 106px;
        font-size: 24px;
        margin-left: -187px;
        margin-top: -46px;

        .good-ideas {
            line-height: 23px;
        }

        .first {
            font-size: 59px;
        }
    }
}