@media screen and (max-width: 568px) {

    // Блок-1

    .bx-wrapper .bx-prev:hover {
        background-position: 0px 11px;
    }

    .bx-wrapper .bx-next:hover {
        background-position: 12px 11px;
    }


    .bx-wrapper .bx-controls-direction a {
        margin-top: -29px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 15px;
        height: 15px;
        margin: 0 10px;
    }

    .bx-wrapper .bx-prev {
        left: 25px;
        background: url('@{images_dir}/slide-switch1.png') no-repeat 0 11px;
        background-size: 20px;
    }

    .bx-wrapper .bx-next {
        right: 25px;
        background: url('@{images_dir}/slide-switch2.png') no-repeat right 11px;
        background-size: 20px;
    }

    .acrostia {
        left: 60px;
    }

    .banner {
        width: 370px;
        height: 106px;
        font-size: 24px;
        margin-left: -187px;
        margin-top: -46px;

        .good-ideas {
            line-height: 23px;
        }

        .first {
            font-size: 59px;
        }
    }

    // Блок-2

    .block-2 {
        padding: 130px 0px 70px 0px;

        .subtitle {
            font-size: 15px;
            padding: 0 40px;
        }

        .item {
            .icon {
                width: 120px;
                height: 120px;

                .stroke {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .lightbulb {
            background: #ffffff url("@{images_dir}/sprite-red.png") no-repeat 7px 29px;
        }

        .wand {
            background: #ffffff url("@{images_dir}/sprite-red.png") no-repeat 0px -104px;
        }

        .mechanism {
            background: #ffffff url("@{images_dir}/sprite-red.png") no-repeat -1px -252px;
        }

        .rocket {
            background: #ffffff url("@{images_dir}/sprite-red.png") no-repeat -1px -407px;
        }
    }

    // Блок-3

    .block-3 {
        padding: 130px 0px 70px 0px;

        .distance .item {
            .icon {
                width: 150px;
                height: 150px;

                .color-photo {
                    width: 130px;
                    height: 130px;
                    background: url("@{images_dir}/sprite-human.png") no-repeat -12px -238px;
                }

                .stroke {
                    width: 130px;
                    height: 130px;
                    background: url("@{images_dir}/sprite-human.png") no-repeat -12px 5px;

                    &:hover {
                        background: url("@{images_dir}/sprite-human.png") no-repeat -12px -238px;
                    }
                }
            }
        }
    }

    // Блок-4

    .block-4 {
        padding: 130px 0px 70px 0px;

        .block-portfolio {
            padding: 20px 0px;

            .portfolio {
                margin-right: 50px;
            }

            .flex-item:not(.portfolio) {
                margin: 0px 5px;
            }
        }
    }

}