@media screen and (max-width: 375px) {

    .bx-wrapper .bx-prev {
        left: 15px;
        background: url('/images/slide-switch1.png') no-repeat 0 10px;
        background-size: 20px;
    }

    .bx-wrapper .bx-next {
        right: 15px;
        background: url('/images/slide-switch2.png') no-repeat 0 10px;
        background-size: 20px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 12px;
        height: 12px;
    }

    .bx-wrapper .bx-prev:hover {
        background-position: 0px 10px;
    }

    .bx-wrapper .bx-next:hover {
        background-position: 0px 10px;
    }

    menu {
        top: 3px;
        width: 100%;
        text-align: center;
        right: 1%;

        a {
            padding: 10px 4px 8px 4px;
            font-size: 12px;
        }
    }

    .acrostia {
        display: none;
    }

    .banner {
        width: 260px;
        height: 76px;
        padding: 20px 10px;
        font-size: 17px;
        margin-left: -132px;
        margin-top: -28px;
        line-height: 29px;
    }
}