@media screen and (max-width: 414px) {

    .bx-wrapper .bx-prev {
        left: 15px;
        background: url('@{images_dir}/slide-switch1.png') no-repeat 0 21px;
        background-size: 20px;
    }

    .bx-wrapper .bx-next {
        right: 15px;
        background: url('@{images_dir}/slide-switch2.png') no-repeat right 21px;
        background-size: 20px;
    }

    .bx-wrapper .bx-prev:hover {
        background-position: 0px 21px;
    }

    .bx-wrapper .bx-next:hover {
        background-position: 12px 21px;
    }

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 19px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 15px;
        height: 15px;
        margin: 0 10px;
    }

    menu {
        width: 400px;

        li {
            padding: 10px 12px 8px 12px;
        }
    }

    .banner {
        width: 260px;
        height: 76px;
        font-size: 17px;
        margin-left: -129px;
        margin-top: -28px;

        .good-ideas {
            line-height: 12px;
        }

        .first {
            font-size: 32px;
        }
    }

    .block-2,
    .block-3 {
        .item {
            width: 260px;
            padding: 43px 30px 43px 30px;
        }
    }

    .block-3 .distance .item .icon .color-photo {
        width: 130px;
        height: 130px;
        border: 5px #c25760 solid;
        background: url("@{images_dir}/sprite-human.png") no-repeat -12px -238px;
    }

    .block-4 {
        .block-portfolio {
            padding: 5px 0;

            .flex-item {
                margin: 0px 10px;
                font-size: 16px;
            }

            .portfolio {
                display: none;
            }
        }
    }

    .block-2,
    .block-3,
    .block-4 {
        padding: 70px 0px 70px 0px;
    }

    .block-5 {
        padding: 70px 0px 0px 0px;

        .distance {
            margin-bottom: 60px;
            padding: 0 40px;
        }

        .flex-container {
            .flex-item {
               .address li:nth-child(4) {
                    margin-top: 20px;
                }

                .map {
                    position: inherit;
                    top: 40px;
                    left: 0;
                }

                input {
                    width: 100%;
                }

                textarea {
                    width: 94%;
                }
            }
        }
    }
}
