@media screen and (max-width: 768px) {

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 49px;
    }

    menu {
        width: 700px;

        .acrostia {
            font-size: 40px;
        }
    }

    .banner {
        width: 530px;
        height: 176px;
        font-size: 33px;
        margin-left: -262px;
        margin-top: -78px;

        .good-ideas {
            line-height: 34px;
        }

        .first {
            font-size: 88.48px;
        }
    }

    .block-2,
    .block-3 {
        .distance {
            padding: 0 0;
        }
    }

    .block-4 {
        .block-portfolio {
            .portfolio {
                margin-right: 60px;
            }
        }

        .our-photos {
            padding: 0px 0px;
            justify-content: center;
        }
    }
}
