@media screen and (max-width: 960px) {

    menu {
        width: 770px;

        .acrostia {
            line-height: 100px;
        }

        li {
            padding: 18px 15px 10px 15px;
        }
    }

    h1 {
        font-size: 50px;
    }

    .banner {
        width: 644px;
        height: 196px;
        font-size: 37px;
        margin-left: -322px;
        margin-top: -98px;

        .good-ideas {
            line-height: 38px;
        }

        .first {
            font-size: 98.48px;
        }
    }

    .block-2 {
        .subtitle {
            font-size: 18px;
            padding: 0 100px;
        }
    }

    .block-4 .our-photos {
        padding: 0 60px;
    }
}

