@media screen and (max-width: 960px) {

    .acrostia {
        left: 90px;
    }

    menu {
        a {
            padding: 42px 22px 17px 22px;
        }
    }

    h1 {
        font-size: 50px;
    }

    .banner {
        width: 644px;
        height: 196px;
        font-size: 37px;
        margin-left: -322px;
        margin-top: -98px;

        .good-ideas {
            line-height: 38px;
        }

        .first {
            font-size: 98.48px;
        }
    }

    .block-2 {
        .subtitle {
            font-size: 18px;
            padding: 0 100px;
        }
    }


}

