@media screen and (max-width: 667px) {

    .bx-wrapper .bx-controls-direction a {
        margin-top: -13px;
    }

    .bx-wrapper .bx-prev {
        background-size: 28px;
    }

    .bx-wrapper .bx-next  {
        background-size: 28px;
    }

    .bx-wrapper .bx-prev:hover {
        background-position: 0px 0px;
    }

    .bx-wrapper .bx-next:hover {
        background-position: 0px 0px;
    }

    .bx-wrapper .bx-prev {
        left: 28px;
    }

    .bx-wrapper .bx-next {
        right: 28px;
    }

    .banner {
        width: 444px;
        height: 126px;
        font-size: 29px;
        margin-left: -222px;
        margin-top: -50px;

        .good-ideas {
            line-height: 26px;
        }

        .first {
            font-size: 68px;
        }
    }

    .block-4 .block-portfolio .flex-item {
        font-size: 19px;
    }
}