@font-face {
    font-family: 'Damion';
    src: url('@{font-path}/damion.eot');
    src: url('@{font-path}/damion.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/damion.woff2') format('woff2'),
         url('@{font-path}/damion.woff') format('woff'),
         url('@{font-path}/damion.ttf') format('truetype'),
         url('@{font-path}/damion.svg#PT Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
