@font-face {
    font-family: 'LatoBlack';
    src: url('/font/Lato-Black.ttf.eot');
    src: url('/font/Lato-Black.ttf.eot?#iefix') format('embedded-opentype'),
         url('/font/Lato-Black.ttf.woff2') format('woff2'),
         url('/font/Lato-Black.ttf.woff') format('woff'),
         url('/font/Lato-Black.ttf.ttf') format('truetype'),
         url('/font/Lato-Black.ttf.svg#PT Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}