// Блок-1 "Оформление баннера"

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 884px;
    height: 196px;
    // padding: 34px 42px;
    border-radius: 4px;
    // box-sizing: border-box;
    background-color: rgba(255,255,255,0.302);
    color: #74C7D5;
    font-size: 60px;
    font-family: "LatoRegular";
    // text-align: center;
    margin-left: -442px;
    margin-top: -98px;
    display: flex;
    justify-content: center;
    align-items: center;

	// .good-ideas,
	// .comes,
	// .first {
	// 	display: inline-block;
	//     text-transform: uppercase;
	// }

	.good-ideas {
	    text-transform: uppercase;
        text-align: right;
        line-height: 49px;
	}

	.comes {
		text-transform: none;
		// margin-left: -186px;
	}

	.first {
		font-size: 138.48px;
		text-transform: uppercase;
		line-height: 128px;
	}
}
