.block-2 {
    background: #b24a50 url('/images/backgraund-red.png') no-repeat 0px -57px;
    height: 1000px;
    color: #ffffff;
    padding-top: 189px;
    text-align: center;

    h1 {
        font-family: 'LatoLight';
        font-size: 60px;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 19px;
    }

    .subtitle {
        text-transform: uppercase;
        text-align: center;
        font-family: 'LatoRegular';
        font-size: 20px;
        margin-bottom: 13px;

        span {
            color: #ec9da2;
        }
    }

    .info {
        font-size: 14px;
        color: #f6bbbf;
        margin-bottom: 119px;

    }

    .flex-container {
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-pack: distribute;
        justify-content: center;

        .flex-item {
            width: 260px;
            height: 400px;
            margin: 0px 10px;
            padding: 43px 30px 43px 30px;
            background-color: #c45158;
            border-radius: 5px;
            text-align: -webkit-center;
            text-align: -moz-center;
            text-align: -o-center;
        }

        .icon {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin-bottom: 30px;
            position: relative;

            .stroke {
                width: 120px;
                height: 120px;
                border: 5px #c45158 solid;
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }

        .lightbulb {
            background: #ffffff url('/images/sprite-red.png') no-repeat 17px 37px;
        }

        .wand {
            background: #ffffff url('/images/sprite-red.png') no-repeat 10px -96px;
        }

        .mechanism {
            background: #ffffff url(/images/sprite-red.png) no-repeat 10px -244px;
        }

        .rocket {
            background: #ffffff url(/images/sprite-red.png) no-repeat 10px -396px;
        }

        .name-service {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 100;
            font-family: 'LatoLight';
            margin-bottom: 50px;
        }
    }
}