.block-3 {
    background: #665464 url('/images/backgraund-lilac.png') no-repeat;
    color: #ffffff;
    padding-top: 189px;
    text-align: center;

    .padd-service {
        margin-top: 69px;

        .item {
            background-color: rgba( 77, 63, 75, 0.502 );

            .icon {
                width: 180px;
                height: 180px;
                background-color: #ffffff;

                .stroke {
                    width: 160px;
                    height: 160px;
                    border: 5px #a1859e solid;
                    background: url("/images/sprite-human.png") no-repeat 1px 5px;
                    overflow: hidden;
                }
            }

            .user-name {
                color: #c7b6c5;
                font-size: 25px;
                text-transform: uppercase;
            }

            .position {
                font-size: 14px;
                color: rgb( 161, 202, 108 );
                margin-bottom: 40px;
            }

            .flex-item {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 0 10px;
            }

            .facebook {
                background: #a1859e url("/images/social-networks.png") no-repeat 8px -10px;
            }

            .twitter {
                background: #a1859e url("/images/social-networks.png") no-repeat 8px -75px;
            }

            .google {
                background: #a1859e url("/images/social-networks.png") no-repeat 6px -131px;
            }

            .linkedin {
                background: #a1859e url("/images/social-networks.png") no-repeat 5px -188px;
            }

            &:hover {
                background-color: rgba( 77, 63, 75, 0.802 );
                transition: 0.3s;

                .icon {
                    background-color: #ffffff;
                    transition: 0.3s;

                    .stroke {
                        border: 5px #c25760 solid;
                        background: url("/images/sprite-human.png") no-repeat 1px -238px;
                        transition: 0.3s;
                    }
                }

                .user-name {
                    color: #ffffff;
                    transition: 0.3s;
                }

                .position {
                    color: #f38471;
                    transition: 0.3s;
                }

                .facebook {
                    background: #4f689e url("/images/social-networks.png") no-repeat 8px -10px;
                    transition: 0.3s;
                }

                .twitter {
                    background: #74c7d5 url("/images/social-networks.png") no-repeat 8px -75px;
                    transition: 0.3s;
                }

                .google {
                    background: #df5c64 url("/images/social-networks.png") no-repeat 6px -131px;
                    transition: 0.3s;
                }

                .linkedin {
                    background: #3e61af url("/images/social-networks.png") no-repeat 5px -188px;
                    transition: 0.3s;
                }
            }
        }
    }
}
