// Меню

menu {
	position: absolute;
    top: 34px;
    right: 15.9%;
	a {
		font-family: "LatoRegular";
		font-size: 18px;
		padding: 38px 32px 17px 32px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.5s;
		&:hover {
			background: #74C7D5;
            transition: 0.5s;
		}
	}
}

.block-2 menu a:hover {
    background: #df5c64;
}

.block-3 menu a:hover {
    background: #91778e;
}

.block-4 menu a:hover {
    background: #a1ca6c;
}

.block-5 menu a:hover {
    background: #82c8bd;
}


